@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #fff;
    background-color: #000;
  }
}

@layer components {
  .menuLink {
    @apply cursor-pointer hover:text-[#FD8D30];
  }

  .tags {
    background-color: #FD8D30;
    margin-right:0.5rem;
    margin-top:0.5rem;
    padding:3px 10px;
    display:inline-block;
    color: #fff;
    font-size:12px;
    
  }
.tags:last-child {
  margin-right: 0;
}
.tags:nth-child(2) {
  background-color: yellowgreen;
}
.tags:nth-child(3) {
  background-color: purple;
}
.tags:nth-child(4) {
  background-color: teal;
}

.inputstyle {
  @apply outline outline-offset-2 outline-[#FD8D30] border-gray-600 border rounded-[5px] px-4 py-2 w-full;
}


}
